.data-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border: none;
}

.notepad-container {
  width: 800px;
  min-height: 500px;
  margin-top: 20px;
}

.tododata {
  margin-left: 100px;
}

.title {
  background-image: linear-gradient(to top, #a8edea 10%, #fed6e3 120%);
  font-size: 25px;
  box-shadow: 6px 6px 8px rgba(21, 21, 21, 0.2);
  text-align: center;
  font-family: 'Book Antiqua';
  font-weight: 600;
}

.notes-data {
  border: none;
  margin-top: 20px;
}


.info {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  width: 220px;
  margin-left: 40px;
  margin-top: 80px;
  box-shadow: 16px 16px 8px rgba(21, 21, 21, 0.2);
  border-radius: 5px;
  padding: 2%;
  height: 300px;
}

.quill.data .ql-editor {
  min-height: 450px;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-size: cover;
  max-height: 450px;
  overflow-y: auto;
}